@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в систему Orbis</h1>
    <p class="lead">Программная система управления страховым агентством</p>
</div>

<div class="row mt-5">
    <div class="col-md-3">
        <div class="card text-white bg-primary mb-3 h-100">
            <div class="card-header">Договоры</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Управление договорами</h5>
                <p class="card-text flex-grow-1">Регистрация, поиск и управление страховыми договорами</p>
                <a asp-controller="Contracts" asp-action="Index" class="btn btn-light align-self-start">Перейти</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card text-white bg-success mb-3 h-100">
            <div class="card-header">Клиенты</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Справочник лиц</h5>
                <p class="card-text flex-grow-1">Управление физическими и юридическими лицами</p>
                <a asp-controller="Persons" asp-action="Index" class="btn btn-light align-self-start">Перейти</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card text-white bg-info mb-3 h-100">
            <div class="card-header">Услуги</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Страховые услуги</h5>
                <p class="card-text flex-grow-1">Справочник услуг страхования</p>
                <a asp-controller="InsuranceServices" asp-action="Index" class="btn btn-light align-self-start">Перейти</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card text-white bg-warning mb-3 h-100">
            <div class="card-header">Отчеты</div>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Аналитика</h5>
                <p class="card-text flex-grow-1">Отчеты и проблемные договоры</p>
                <a asp-controller="Contracts" asp-action="Report" class="btn btn-light align-self-start">Перейти</a>
            </div>
        </div>
    </div>
</div>
